<!DOCTYPE html>

<html>

<head>
    <title>QIUGU HE</title>
    <link rel = "stylesheet" href = "/css/styles.css">
</head>

<body>
    <div class = "notFound">
          <p> <b style="font-size:30px">404</b>..This page could not found</p>
    </div>
</body>


</html>