<!DOCTYPE html>

<html>
<head>
    <title>QIUGU HE</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel = "stylesheet" href = "/css/software-header.css">
    <link rel = "stylesheet" href = "/css/footer.css">
    <link rel = "stylesheet" href = "/css/software.css">
	
	<link rel="icon" type="image/png" href="table/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "software-main">
        {{>header2}}
         <div class = "container2">
            <p style="font-size:1.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Recent post</p>
            
        </div>
    </div>



    {{>footer}}
    <script src="js/header.js"></script>
	<script src="table/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="table/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="table/vendor/select2/select2.min.js"></script>
	<script src="table/js/main.js"></script>
</body>


</html>