<!DOCTYPE html>
<html>
<head>
    <title>Qiugu He</title>
    <link rel = "stylesheet" href = "/css/index.css">
    <link rel = "stylesheet" href = "/css/aboutme.css">
    <link rel = "stylesheet" href = "/css/header.css">
    <link rel = "stylesheet" href = "/css/footer.css">

    
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- google front -->
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
</head>

<body>
    {{>header}}
    <!-- home page  -->
    <div class = "main-content"> 
        <div class = "homePage1">
            <strong><h1 class = "homePage1Title">QIUGU  HE</h1></strong>
            <li style = "display: inline-block"><a href = "https://github.com/Qiugu-He">
                <img src = '/image/github.png'/></a> </li>
            <li style ="display: inline-block"><a href = "https://www.linkedin.com/in/qiugu-he">
                <img src = '/image/linkedIn.png'/></a> </li>
            <li style ="display: inline-block"><a href = "/contact">
                <img src = '/image/email.png'/></a> </li>
            <p class = "homePage1Para">
                Experienced Junior Software Developer, experienced in Front-end Application and Database development. Bachelor's Degree in Computer Science from University of Manitoba
            </p>
        </div>
         <canvas class="animation"></canvas>  
    </div>

    <!-- About me  -->
    <div class = "aboutme">
        <div class = "row">
            <div class = "column1"> 
               <center><img src="/image/me6.jpg" id="portPic" alt="Simple icon" class="img-responsives
                img-circle"></center>
            </div>
            <div class = "column2">
                <h1 class = "title ">About Me   <i class="fas fa-robot"></i></h1>
                <hr>
                <p class = "para"> Hello! I am a Computer Science new grad this year and I am passionated about Front-end and Database development. I
                    love learning new software technologies and also interested in developing multi platform application.
               <br><br>
               In my spare time, I like to read, build apps, workout and give back to community by volunntering local/campus events. 
                In the future, I hope I can create something that shows people the beauty behind the design.</p>
            </div>
        </div>
    </div>

    <!-- Skills  -->
    <div class = "skills">
        <div class  = "skillcontainer">

            <h1 class = "title ">Skills   <i class="fas fa-cogs"></i></h1>
            <hr>
            <div class = "skillCol"> 
                <p class = "para"><i class="fas fa-desktop"></i>   Programming Languages</p>
                <ul>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>C#/C++</li>
                    <li>Python</li>
                    <li>HTML/CSS</li>
                </ul>
                <br>
            </div>

            <div class = "skillCol">
                <p class = "para"><i class="fas fa-folder"></i>   Frameworks & Concepts</p>
                <ul>
                    <li>ReactJS</li>
                    <li>NodeJs</li>
                    <li>ASP.NET MVC</li>
                    <li>Visual Studio/ Android Studio</li>
                    <li>Agile Methodologies</li>
                    <li>Objected Oriented Programming</li>
                    <li>Bootstrap</li>
                </ul>
                <br>            
            </div>

            <div class = "skillCol">
                <p class = "para"><i class="fas fa-cloud"></i>    Database & Services</p>
                <ul>
                    <li>Github</li>
                    <li>AWS/Firebase</li>
                    <li>Oracle SQL / PostgreSQL </li>
                    <li>Microsoft SQL Server </li>
                    <li>RESTful API </li>
                </ul>
                <br>            
            </div>

        </div>
    </div>

    <!-- Projects -->
    <div class = "projects">
        <div class  = "projectcontainer">
            <h1 class = "projectheader ">Projects   <i class="fas fa-folder-open"></i></h1>
            <hr>
            <div class = "row">
                <div class = "projectCol1"> 
                <center><img src="/image/bgm.jpg" class="img-responsives2"></center>
                </div>
                <div class = "projectCol2">
                    <h1 class = "projecttitle ">Project Title </h1>
                    <hr>
                    <p class = "projectpara"> Porject Descirption Porject DescirptionPorject 
                        Porject DescirptionPorject Descirption DescirptionPorject Descirption</p>
                     <br>
                    <p><a href="#" target="_blank">Demo</a> | <a
                         href="#" target="_blank">Source</a></p>
                </div>
            </div>

            <div class = "row">
                <div class = "projectCol1"> 
                <center><img src="/image/bgm.jpg" class="img-responsives2"></center>
                </div>
                <div class = "projectCol2">
                    <h1 class = "projecttitle ">Project Title </h1>
                    <hr>
                    <p class = "projectpara"> Porject Descirption Porject DescirptionPorject 
                        Porject DescirptionPorject Descirption DescirptionPorject Descirption</p>
                    <br>
                    <p><a href="#" target="_blank">Demo</a> | <a
                         href="#" target="_blank">Source</a></p>
                </div>
            </div>

            <div class = "row">
                <div class = "projectCol1"> 
                <center><img src="/image/bgm.jpg" class="img-responsives2"></center>
                </div>
                <div class = "projectCol2">
                    <h1 class = "projecttitle ">Project Title </h1>
                    <hr>
                    <p class = "projectpara"> Porject Descirption Porject DescirptionPorject 
                        Porject DescirptionPorject Descirption DescirptionPorject Descirption</p>

                     <br>
                    <p><a href="#" target="_blank">Demo</a> | <a
                         href="#" target="_blank">Source</a></p>
                </div>
            </div>

            <div class = "row">
                <div class = "projectCol1"> 
                <center><img src="/image/bgm.jpg" class="img-responsives2"></center>
                </div>
                <div class = "projectCol2">
                    <h1 class = "projecttitle ">Project Title </h1>
                    <hr>
                    <p class = "projectpara"> Porject Descirption Porject DescirptionPorject 
                        Porject DescirptionPorject Descirption DescirptionPorject Descirption</p>

                     <br>
                    <p><a href="#" target="_blank">Demo</a> | <a
                         href="#" target="_blank">Source</a></p>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    <script src="https://kit.fontawesome.com/a10dd7dd95.js" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/particlesjs@2.0.2/dist/particles.min.js"></script>   
    <script src="js/header.js"></script>
    <script src="js/particles.js"></script>
</body>
</html>