<!DOCTYPE html>
<html>
<head>
    <title>Qiugu He</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel = "stylesheet" href = "/css/aboutme.css">
    <link rel = "stylesheet" href = "/css/header.css">
    <link rel = "stylesheet" href = "/css/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
</head>

<body>
    <!-- home page  -->
    <div class = "main-content">
        {{>header}}
        <div class = "homePage1">
            <h1 class = "homePage1Title">QIUGU  HE</h1>
            <li style = "display: inline-block"><a href = "https://github.com/Qiugu-He">
                <img src = '/image/github.png'/></a> </li>
            <li style ="display: inline-block"><a href = "https://www.linkedin.com/in/qiugu-he">
                <img src = '/image/linkedIn.png'/></a> </li>
            <li style ="display: inline-block"><a href = "/contact">
            <img src = '/image/email.png'/></a> </li>
            <p class = "homePage1Para">I am a self learning software developer with recently finished B.Sc Degree of Computer Science at University of Manitoba. 
                My area sprcilization is Software Engineering and Database. I mainly focused on software/web and database development. I strive to 
                build immersive applications through carefully design and created code to user.
            </p>
        </div>
        <div class = "readMore">
            <p>Read More</p>
            <a><img  class = "bounce" src = '/image/downar.png'/> </a>
        </div>
    </div>
    <div class = "aboutme">
        <h1 class = "title">ABOUT ME</h1>
        <p class = "para"> I was never the best at school or academics, I'm just a super curious guy about learning new things. Under the fast-paced digital  environment, 
            I learned that continuing to learn new technology and self-improvement is the way a developer can succeed, therefore, besides my academic studies, 
            I self-taught modern web development frameworks such as APS.NET MVC, NodeJS/ReactJS, and API development. When I was persuing my degree 
            of computer science, I spend a lot of time to focused on academics stuffs. It was an unforgettable memory and I am appricated all friends, and the team members that I met at U of M. When I was not coding or learning,
            I enjoy to spend time with friends or going to the gym (swimming is my favorite :)). At Feb 2020, I finished BSc degree at Univeristy of Manitoba, and recently looking for jobs.
            I am looking forward to accepting the new challenge and I am already prepared well to start the new journy and meet new friends in the future.</p>
        <h1 class = "title2">MY WORKS / SENIOR COURSES TAKEN</h1>
            <ul>
                <li>Online Rental System (C#/ASP.Net/JQuery/API)</li>
                <li>RVH Database (Oracle/SQL)</li>
                <li>Taxi Pickup App (Java/Android/Real-time API)</li>
                <li>Weather App (NodeJs/HTML/API/JSON)</li> 
                <li>Burger Customizer App (ReactJs/HTML/API)</li>
                <li>Portfolio (NodeJs/HTML)</li>
            </ul>
            <ul>
                <li>Software Engineering</li>
                <li>Human-Computer Interaction</li>
                <li>Database Implementation</li>
                <li>DB Tunnig & Distributed DBMS</li>
                <li>Computer Networking</li>
                <li>Object-Oriented Programming</li>
                <li>Artificial Intelligence and Expert System</li>
            </ul>
            
    </div>

    <div class = "future">
        <h1 class = "title">FUTURE VENTURES</h1>
            <li>Security</li>
            <li>Cloud Service and Cloud Integration tools</li>
            <li>Integration platforms(e.g. Mulesoft, Sonic, Fuse)</li>
            <li>Machine Learning/AI</li>
    </div>
    {{>footer}}

    <script src="js/header.js"></script>
</body>
</html>