<!DOCTYPE html>

<html>
<head>
    <title>QIUGU HE</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel = "stylesheet" href = "/css/software-header.css">
    <link rel = "stylesheet" href = "/css/footer.css">
    <link rel = "stylesheet" href = "/css/software.css">
	
	<link rel="icon" type="image/png" href="table/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "software-main">
        {{>header}}
         <div class = "container">
            <p style="font-size:1.7em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Software Repository</p>

            <div class="limiter">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="table100">
                                <table>
                                    <thead>
                                        <tr class="table100-head">
                                            <th class="column1">Title</th>
                                            <th class="column2">Description</th>
                                            <th class="column3">Language</th>
                                            <th class="column4">Created at</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td class="column1"> <a href="https://github.com/Qiugu-He/RentalSystem">Online Rental System</td></a>
                                                <td class="column2">An online rental system based on MVC design pattern, allows store manager to manage clients and their rental records</td>
                                                <td class="column3">C#/.Net</td>
                                                <td class="column4">Dec 2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1"> <a href="https://github.com/Qiugu-He/RVH-Database">RVH Database</td></a>
                                                <td class="column2">A relational database developed for hospital to store, manage and inspect hospital informations (e.g. patients, employees, Laboratory, etc.) </td>
                                                <td class="column3">Oracle/SQL</td>
                                                <td class="column4">Oct 2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1"> <a href="https://github.com/Qiugu-He/Uber-App">Taxi Pickup App</td></a>
                                                <td class="column2">An Andriod app developed based on Java. It serves for both drivers and customers to provide pickup service</td>
                                                <td class="column3">Java/Andriod</td>
                                                <td class="column4">Jun 2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1"> <a href="https://github.com/Qiugu-He/Weather-Application">Weather App</td></a>
                                                <td class="column2">A weather app developed based on NodeJs express web framework. It provide weather lookup service for user by their location</td>
                                                <td class="column3">NodeJs/HTML</td>
                                                <td class="column4">Jul 2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1"> <a href="https://github.com/Qiugu-He/burgerBuilder">Online burger customizer App</td></a>
                                                <td class="column2">An single-page app built based React framework. It provide customized build burger to a resturant for their customer</td>
                                                <td class="column3">ReactJs/HTML</td>
                                                <td class="column4">Jul 2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1"> <a href="https://github.com/Qiugu-He/Qiu-Protofolio">Personal Web</td></a>
                                                <td class="column2">NodeJs version of my personal werbsite</td>
                                                <td class="column3">NodeJs/HTML</td>
                                                <td class="column4">Nov 2019</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
	            </div>
        </div>
    </div>



    {{>footer}}
    <script src="js/header.js"></script>
	<script src="table/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="table/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="table/vendor/select2/select2.min.js"></script>
	<script src="table/js/main.js"></script>
</body>


</html>