<!DOCTYPE html>

<html>
<head>
    <title>QIUGU HE</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel = "stylesheet" href = "/css/software-header.css">
    <link rel = "stylesheet" href = "/css/footer.css">
    <link rel = "stylesheet" href = "/css/software.css">
	
	<link rel="icon" type="image/png" href="table/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="table/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="table/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="table/css/util.css">
	<link rel="stylesheet" type="text/css" href="table/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <div class = "software-main">
        {{>header}}
         <div class = "container">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Software Repository</p>

            <div class="limiter">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="table100">
                                <table>
                                    <thead>
                                        <tr class="table100-head">
                                            <th class="column1">Title</th>
                                            <th class="column2">Description</th>
                                            <th class="column3">Language</th>
                                            <th class="column4">Created at</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr>
                                                <td class="column1">Movie Rental System</td>
                                                <td class="column2">A system based on .NET MVC, allows owner to manage thier client and their rental information </td>
                                                <td class="column3">C#/.Net</td>
                                                <td class="column4">Dec-2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1">Database for RVH</td>
                                                <td class="column2">A relational database built based on Oracle SQL. It built for hospital to store, manage and inspect hospital informations (e.g. patients, employees, Laboratory, etc.) </td>
                                                <td class="column3">Oracle SQL</td>
                                                <td class="column4">Dec-2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1">Weather App</td>
                                                <td class="column2">A weather app based on NodeJs, which allows user to lookup weather information by location</td>
                                                <td class="column3">NodeJs</td>
                                                <td class="column4">Dec-2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1">Taxi Pickup App</td>
                                                <td class="column2">An app built based on Java, which used for both driver and customer to provide pickup service</td>
                                                <td class="column3">Java</td>
                                                <td class="column4">Dec-2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1">Burger Builder App</td>
                                                <td class="column2">An app for the resturant to provide customized burger for their customer</td>
                                                <td class="column3">ReactJs</td>
                                                <td class="column4">Dec-2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1">Personal Web</td>
                                                <td class="column2">NodeJs version of my personal werbsite</td>
                                                <td class="column3">NodeJs</td>
                                                <td class="column4">Dec-2019</td>
                                            </tr>
                                            <tr>
                                                <td class="column1">Resume</td>
                                                <td class="column2">Built by pure HTML/CSS</td>
                                                <td class="column3">HTML</td>
                                                <td class="column4">Dec-2019</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
	            </div>
        </div>
    </div>



    {{>footer}}
    <script src="js/header.js"></script>
	<script src="table/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="table/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="table/vendor/select2/select2.min.js"></script>
	<script src="table/js/main.js"></script>
</body>


</html>