<!DOCTYPE html>

<html>
<head>
    <title>QIUGU HE</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel = "stylesheet" href = "/css/software-header.css">
    <link rel = "stylesheet" href = "/css/footer.css">
    <link rel = "stylesheet" href = "/css/software.css">
	
</head>

<body>
    <div class = "software-main">
        {{>header}}
         <div class = "container1">  
             <p>This is my pure HTML/CSS coded resume</p>          
            <embed src="Qiugu-He.html.pdf#toolbar=0&navpanes=0&scrollbar=0 #zoom=300"  width="800" height="570">
        </div>
        
        <div>
            <button type="submit" onclick="window.open('Qiugu-He.html.pdf')" >Download</button>
        </div>
    </div>



    {{>footer}}
    <script src="js/header.js"></script>
</body>


</html>