.aboutme{
    background-color: #DFE8CF;
    overflow: hidden;
    margin-top: 0px;   
}

/*about me*/  
.column1 {
    margin-top:4%;
    margin-bottom:4%;
    float: left;
    width: 30%;
    padding: 10px;
}

.column2 {
    margin-top:4%;
    margin-bottom:4%;
    float: left;
    width: 50%;
    padding: 10px;
}

.img-responsives{
    max-width:60%;
    max-height:60%
}

.title{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 30px;
    color: black;
}

.para{
    font-family:  'Open Sans';
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: left;
}

/*my works*/
.aboutme .title2{
    margin-top: 80px;
    margin-left: 200px;
    font-family: "Arial";
    font-weight: normal;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
}


.aboutme li{
    margin-left: 200px;
    font-family: "Arial";
    font-weight: normal;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    position: relative;
    left: -20px;
}
.aboutme ul
{   
    display: inline-block;
    line-height:200%
}

/* ---   future ----*/
.future{
    background-color:white;
    height: 45%;
    overflow: hidden;
    margin-top: 0px;
   
}
.future .title{
    margin-top: 80px;
    margin-left: 200px;
    font-family: "Arial";
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 3px;
}

.future li{
    margin-top: 20px;
    margin-left: 250px;
    font-family: "Arial";
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 1px;
}
