@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/*------- about me -----------*/  
.aboutme{
    background-color: white;
    overflow: hidden;
    margin-top: 0px;   
}
.column1 {
    margin-top:4%;
    margin-bottom:4%;
    float: left;
    width: 30%;
    padding: 10px;
}

.column2 {
    margin-top:3%;
    margin-bottom:3%;
    float: left;
    width: 60%;
    padding: 10px;
}

.img-responsives{
    max-width:60%;
    max-height:60%
}

.title{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 30px;
    color: black;
}


.para{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: left;
}

/*------- Skills -----------*/ 
.skills{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),
                url("../image/color9.png") center no-repeat;
    overflow: hidden; 
    font-family: 'Raleway', sans-serif;
}

.title2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: black;
}

.para2{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: left;
}

.skillcontainer{
    margin-top:5%;
    margin-left:20%;
    margin-right:10%;
    margin-bottom:16%;

    font-weight: normal;
    font-size: 17px;
    color: black;
    text-align: left;

}
.skillCol {
    float: left;
    width: 33%;
}

/*------- Projects -----------*/ 
.projects{
    background-color:white;
    margin-top:5%;
}
.projectcontainer{
    margin-left:10%;
    margin-right:10%;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 17px;
    color: black;
    text-align: left;
}

.projectheader{
    text-align: center;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 30px;
    color: black;
}


.img-responsives2{
    max-width:100%;
    max-height:100%
}

.projectCol1 {
    margin-bottom:4%;
    float: left;
    width: 35%;
}

.projectCol2 {
    margin-bottom:3%;
    float: left;
    width: 50%;
    margin-left:10%;
}

.img-responsives{
    max-width:50%;
    max-height:50%
}

.projecttitle{
    text-align: left;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
    color: black;
}


.projectpara{
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: left;
}