/* ------  header nav -------------*/
header{
    padding-top: 1%;
    position: fixed;
    transition: background 0.7s;
    width:100%;
    text-align: center;
}
header ul{
    list-style: none;
    display: flex;
    margin-left: 12%;
}
header a{
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 20px;
    padding-bottom:5px;
    transition: color 0.7s;
    margin-top:0.01px;
}
header a:hover{
    background-color: rgba(220,220,220,0.55);
}

.is-sticky {
    padding-top: 5px;
    padding-bottom: 5px;
    background:white;
    transition: all .7s ease-out;
    -webkit-transition: all .7s ease-out;
  }
  
.is-sticky a {
    color:black;
}
