body, html{
    height:100vh;
    margin: 0;
}

/*------ home -------------*/
.main-content{
    background: url("../image/color9.png") center no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    overflow: hidden;
    margin: auto;
}

/*home - content 1*/
.homePage1{
    clear: both;
    margin-top: 12%;
    margin-right: 18%;
    margin-left: 18%;
    padding: 15px;

    text-shadow:2px 2px 4px #000;
    text-align: center;
    font-size: 1em;
    font-family: "Arial";
    color: #F2F2F2;
}
.homePage1Title{
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 1px;
}

.homePage1 li a img{
    padding-top: -20%;
    height: 30px;
}

.homePage1Para{
    margin-left: 8%;
    margin-right:8%;
    font-size: 1.7em;
    font-weight: normal;
    text-align: justify;
    text-align-last: center;
    letter-spacing: 1px;
    
}
.animation{
    z-index:1;
}

/*read more*/
/*
.main-content .readMore{
    margin-top: 7%;
    margin-left: 44%;
    font-size: 160%;
    font-family: "Arial";
    color: white;
    font-weight: normal;
    letter-spacing: 0.01em;
}

.main-content .readMore a img{
    color: white;
    height: 30px;
    margin-top :2%;
    margin-left:5%;
}

.bounce {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
*/

.notFound{
    background-color: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
 
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    font-family: "Arial";
    color: black;
}



