<footer>
    <p>STAY CONNECTED</p>
    <li style = "display: inline-block"><a href = "https://github.com/Qiugu-He">
        <img src = '/image/github.png'/></a> </li>
    <li style ="display: inline-block"><a href = "https://www.linkedin.com/in/qiugu-he">
        <img src = '/image/linkedIn.png'/></a> </li>
    <li style ="display: inline-block"><a href="mailto:heq3456@myumanitoba.ca">
        <img src = '/image/email.png'/></a> </li>
    <div class = "copyright">
        <p>© 2020 by Qiugu He</p>
    </div>
    
</footer>
