<header id= "myHeader">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/project">SOFTWARE</a></li>
        <li><a style="margin-left: 600px" href="mailto:qiuguhedev@gmail.com">CONTACT</a></li>
    </ul>
</header> 

