<header id= "myHeader">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/project">SOFTWARE</a></li>
        <li><a href="/resume">RESUME</a></li>
        <li><a href="mailto:heq3456@myumanitoba.ca">CONTACT</a></li>
    </ul>
</header> 