<header id= "myHeader">
    <link rel = "stylesheet" href = "/css/tip.css">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/project">SOFTWARE</a></li>
        <li><a href="/resume">RESUME</a></li>
        <li><a style="margin-left: 400%" href="mailto:qiuguhedev@gmail.com">CONTACT</a></li>
    </ul>
</header> 

